* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


.logo {
    width: 120px;
    cursor: pointer;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
}

ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.search_container:hover {
    min-width: 100px;
    align-items: center;
    height: 17px;
    display: flex;
    background: white;
    width: 15%;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.8s;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    margin-right: 5px;
}

.search_container {
    width: 100px;
    align-items: center;
    display: flex;
}

.search_container:hover input {
    width: 100%;
    cursor: pointer;
}

.search_container input {
    background: transparent;
    border: none;
    outline: none;
    transition: 0.8s;
    width: 0;
}

.material-symbols-outlined {
    cursor: pointer;
}