* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/*------------------------------------NAVBAR------------------------------------*/

.navbar {
    margin: 0 7.3% 15px 7.3%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #696A75;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #181A2A;
    transition: 0.8s;
}

.navbar a:hover {
    font-size: 19px;
    transition: 0.8s;

}

ul {
    padding: 0px;
    gap: 40px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

/*------SEARCH----------*/

.search_container:hover {
    min-width: 100px;
    align-items: center;
    height: 17px;
    display: flex;
    background: white;
    width: 15%;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.8s;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    margin-right: 5px;
}

.search_container {
    justify-content: space-between;
    width: 100px;
    display: flex;
    transition: 0.8s;
}

.search_container:hover input {
    width: 100%;
}

.search_container input:focus {
    outline: none;
}

.search_container input {
    border: none;
    transition: 0.8s;
    width: 0;
}

.material-symbols-outlined {
    cursor: pointer;
}

/*------SEARCH----------*/

/*----------------------------------NAVBAR---------------------------------*/

/*----------------------------------SECTION---------------------------------*/
.body {
    /*container'ı hizalamak için*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/*---------------CARD-------------*/

.card {
    background-size: cover;
    width: 85%;
    height: 520px;
    margin: 20px;
    background-image: url('../img/home_slider.jpg');
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: end;
    transition: 0.7s;
}

.card:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    width: 86%;
    transition: 0.7s;
}

.category {
    background-color: royalblue;
    border-radius: 0.375rem;
    border: none;
    width: 120px;
    height: 25px;
    transition: 0.7s;
}

.category a {
    color: #FFFFFF;
    line-height: 1.25rem;
    font-size: .875rem;
    text-decoration: none;
}

.category:hover {
    transition: 0.7s;
    font-size: .999rem;
    width: 125px;
    height: 28px;
}

.card .title_container {
    margin: 15px;
}

.card .title_container .title {
    margin-bottom: 5px;
}

.card .title_container .title a {
    font-weight: bold;
    font-size: 2.25rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.7s;
}

.card .title_container .title a:hover {
    color: royalblue;
    transition: 0.7s;
    font-size: 2.45rem;
}

.card .title_container .author_container {
    display: flex;
    align-items: center;
}

.card .title_container .author_container a {
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    transition: 0.7s;
}

.card .title_container .author_container a:hover {
    color: royalblue;
    transition: 0.7s;
    font-size: 18px;
}

.card .title_container .author_container img {
    margin-right: 10px;
    border-radius: 50%;
    width: 8%;
}

.card .title_container .author_container .date {
    margin-left: 10px;
    color: #FFFFFF;
}

/*---------------CARD-------------*/

/*-------------TRENDİNG_POSTs--------------*/
.trending_post {
    width: 86%;
    margin: 20px;

}

.trending_post .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
}

.trending_post .title h5 {
    font-weight: 800;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
}

.trending_post .title a {
    color: #676a72;
    text-decoration: none;
    margin: 0 1.67em;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    border: 0.000001rem solid #676a72;
    border-radius: 7px;
    height: 3rem;
    transition: 0.8s;
}

.trending_post .title a:hover {
    background-color: #676a72;
    color: #FFFFFF;
    transition: 0.8s;
}

.cards_container {
    width: 85%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_container .cards {
    justify-content: space-between;
    display: flex;

}

.cards_container .cards .detail_container {
    height: 320px;
    width: 23%;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
}

.cards_container .cards .card1 {
    background-image: url(../img/server.jpg);
}

.cards_container .cards .card2 {
    background-image: url(../img/Paving_the_Way_for_Women_in_Tech2.png);
}

.cards_container .cards .card3 {
    background-image: url(../img/women_in_tech2.jpeg);
}

.cards_container .cards .card4 {
    background-image: url(../img/women-in-tech-challenges-motivation-gap2.jpeg);
}

.cards_container .cards .detail_container .title {
    margin: 10px;
}

.cards_container .cards .detail_container .title a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.7s;
}

.cards_container .cards .detail_container .title .title_detail {
    font-size: 1.25rem;
    transition: 0.7s;
    font-weight: 900;
}

.cards_container .cards .detail_container .title .title_detail:hover {
    color: rgb(32, 74, 198);
    transition: 0.7s;
}

.category2 {
    background-color: rgb(32, 74, 198);
    border-radius: 0.375rem;
    border: none;
    width: 90px;
    height: 25px;
    transition: 0.7s;
}



/*-------------TRENDİNG_POST--------------*/

/*----------------------------------SECTION---------------------------------*/

/*----------------------------------FOOTER---------------------------------*/
footer {
    background: #E8E8EA;
    color: #181A2A;
}

.footer_container {
    padding: 20px;
    display: flex;
    text-align: center;
}

.about h3,
.services h3 {
    padding-bottom: 10px;
}

/*----------ABOUT-----------*/

.about {
    flex-basis: 100%;
}

.about li {
    display: block;
    margin: 13px 0;
    list-style-type: none;
    line-height: 1.2;
}


.about p {
    padding-bottom: 7px;
    word-spacing: 2px;
    text-indent: 5%;
    color: #696A75;
}

/*----------ABOUT-----------*/

/*CONTACT TEXT*/
.cont_text {
    font-weight: bold;
}

/*----------SERVİCES-----------*/

.services {
    flex-basis: 100%;
}

.services ul li {
    list-style-type: none;
    line-height: 1.7;
}

.services a {
    color: #181A2A;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

/*----------SERVİCES-----------*/

/*---------SUBSCRİBE------------*/
.subscribe {
    max-height: 200px;
    margin-right: 20px;
    flex-basis: 75%;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.subscribe input {
    width: 70%;
    border: 1px solid #DCDDDF;
    border-radius: 6px;
    padding: 12px 20px;
    background: white;

}

.subscribe button {
    margin: 10px;
    padding: 4% 4%;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    width: 45%;
    background: #4B6BFB;
}

.subscribe h3 {
    margin: 5%;
}

.subscribe div {
    margin: 10px 0;
    color: #696A75;
}

/*---------SUBSCRİBE------------*/


/*---------COPYRİGHT------------*/

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #696A75;
}

.copy {
    margin-left: 20px;
}

.links a {
    margin: 0 20px 0 0;
    color: #141624;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    display: inline;
}

#ToS,
#PP {
    border-right: 1px solid #696A75;
    padding-right: 20px;
}

/*---------COPYRİGHT------------*/

/*----------------------------------FOOTER---------------------------------*/

/*----------------------------------@media---------------------------------*/

@media only screen and (max-width: 764px) {
    .navbar ul li {
        display: block;
    }

    .footer_container {
        flex-direction: column;
    }

    .services {
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .subscribe {
        padding: 5px 5%;
        margin: auto;
    }

    .links a {
        margin-right: 20px;
        padding: 2px;
    }

    .copyright {
        display: block;
        text-align: center;
    }

    .links {
        padding-top: 5px;
        align-items: center;
        justify-content: space-around;
    }

    #ToS,
    #PP {
        border-right: 1px solid #696A75;
        padding-right: 20px;
    }

    .card {
        height: 250px;
    }

    .cards_container .cards {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .cards_container .cards .detail_container {
        width: 90%;
        margin-bottom: 20px;
    }
    .cards_container .cards {
        align-content: space-around;
        flex-direction: column;
    }

}


@media only screen and ((max-width: 1100px) and (min-width:765px)) {
    .cards_container .cards .detail_container {
        width: 45%;
        margin-bottom: 20px;
    }
    .cards_container .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

/*----------------------------------@media---------------------------------*/