* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/*------------------------------------NAVBAR------------------------------------*/

.navbar {
  margin: 0 7.3% 15px 7.3%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #696a75;
}

.logo {
  width: 120px;
}

.navbar a {
  text-decoration: none;
  color: #181a2a;
  transition: 0.8s;
}

.navbar a:hover {
  font-size: 19px;
  transition: 0.8s;
}

.navbar ul li {
  display: inline-block;
  margin: 0 20px;
}

/*------SEARCH----------*/

.search_container:hover {
  min-width: 100px;
  align-items: center;
  height: 17px;
  display: flex;
  background: white;
  width: 15%;
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.8s;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}

.search_container {
  justify-content: space-between;
  width: 100px;
  display: flex;
  transition: 0.8s;
}

.search_container:hover input {
  width: 100%;
}

.search_container input:focus {
  outline: none;
}

.search_container input {
  border: none;
  transition: 0.8s;
  width: 0;
}

.material-symbols-outlined {
  cursor: pointer;
}

/*------SEARCH----------*/

/*----------------------------------NAVBAR---------------------------------*/

/*----------------------------------SECTION---------------------------------*/
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------------MAIN CARD-------------*/

.card {
  background-size: cover;
  width: 85%;
  height: 520px;
  margin-top: 20px;
  background-image: url("../img/home_slider.jpg");
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: end;
  transition: 0.7s;
}

.card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: 0.7s;
}

.card .title_container {
  margin: 20px 25px;
}

.category {
  background-color: royalblue;
  border-radius: 0.375rem;
  border: none;
  width: 120px;
  height: 25px;
  transition: 0.7s;
}

.category a {
  color: #ffffff;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: capitalize;
}

.card .title_container .title {
  margin-bottom: 5px;
}

.card .title_container .title a {
  font-weight: bold;
  font-size: 2.25rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  transition: 0.7s;
}

.card .title_container .title a:hover {
  color: royalblue;
  transition: 0.7s;
  font-size: 2.45rem;
}

.card .title_container .author_container,
.content .main_side .post .author_container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card .title_container .author_container a,
.content .main_side .post .author_container a {
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  transition: 0.7s;
}

.card .title_container .author_container a:hover,
.content .main_side .post .author_container a {
  color: royalblue;
  transition: 0.7s;
  font-size: 18px;
}

.card .title_container .author_container img,
.content .main_side .post .author_container img {
  margin-right: 10px;
  border-radius: 50%;
  width: 8%;
}

.card .title_container .author_container .date,
.content .main_side .post .author_container .date {
  margin-left: 10px;
  color: #ffffff;
}

/*---------------MAIN CARD-------------*/

/*-------------TRENDİNG_POST--------------*/

.view_all_post {
  width: 86%;
  margin: 20px;
}

.view_all_post .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
}

.view_all_post .title h5 {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
}

.view_all_post .title a {
  color: #676a72;
  text-decoration: none;
  margin: 0 1.67em;
  display: inline-flex;
  align-items: center;
  padding: 0 16px;
  border: 0.000001rem solid #676a72;
  border-radius: 7px;
  height: 3rem;
  transition: 0.8s;
}

.view_all_post .title a:hover {
  background-color: #676a72;
  color: #ffffff;
  transition: 0.8s;
}

.cards_container {
  width: 85%;
}

.cards_container .cards {
  justify-content: space-between;
  display: flex;
}

.cards_container .cards .detail_container {
  height: 320px;
  width: 23%;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
}

.cards_container .cards .card1 {
  background-image: url(../img/server.jpg);
}

.cards_container .cards .card2 {
  background-image: url(../img/Paving_the_Way_for_Women_in_Tech2.png);
}

.cards_container .cards .card3 {
  background-image: url(../img/women_in_tech2.jpeg);
}

.cards_container .cards .card4 {
  background-image: url(../img/women-in-tech-challenges-motivation-gap2.jpeg);
}

.cards_container .cards .detail_container .title {
  margin: 10px;
}

.cards_container .cards .detail_container .title a {
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
}

.cards_container .cards .detail_container .title .title_detail {
  font-size: 1.25rem;
  transition: 0.7s;
  font-weight: 900;
}

.cards_container .cards .detail_container .title .title_detail:hover {
  color: rgb(32, 74, 198);
  transition: 0.7s;
}

.category2 {
  background-color: rgb(32, 74, 198);
  border-radius: 0.375rem;
  border: none;
  width: 90px;
  height: 25px;
}

/*-------------TRENDİNG_POST--------------*/

/*-------------EDİTOR_PİCK--------------*/

.editor_container .cards_container {
  width: 100%;
  margin-bottom: 20px;
}

.editor_container {
  width: 85%;
  margin-bottom: 20px;
}

.editor_container .cards .detail_container {
  width: 32%;
}

.editor_container .cards .card1 {
  background-image: url(../img/post-2.webp);
}

.editor_container .cards .card2 {
  background-image: url(../img/women-in-tech-business-benefits.jpg);
}

.editor_container .cards .card3 {
  background: #ffffff;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
}

.editor_container .cards .detail_container .column .item {
  padding: 5px;
  height: 85px;
  border: 1px solid #e8e8ea;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.editor_container .cards .detail_container .column .item .image img {
  border-radius: 10px;
  width: 115px;
}

.editor_container .cards_container .cards .card3 .title a,
.aside .column .item .title a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.editor_container .cards_container .cards .card3 .title .date,
.aside .column .item .title .date {
  margin-top: 5px;
}

/*-------------EDİTOR_PİCK--------------*/

/*----------------------------------SECTION---------------------------------*/

/*----------------------------------FOOTER---------------------------------*/
footer {
  background: #e8e8ea;
  color: #181a2a;
}

.footer_container {
  padding: 20px;
  display: flex;
  text-align: center;
}

.about h3,
.services h3 {
  padding-bottom: 10px;
}

/*----------ABOUT-----------*/

.about {
  flex-basis: 100%;
}

.about li {
  display: block;
  margin: 13px 0;
  list-style-type: none;
  line-height: 1.2;
}

.about p {
  padding-bottom: 7px;
  word-spacing: 2px;
  text-indent: 5%;
  color: #696a75;
}

/*----------ABOUT-----------*/

/*CONTACT TEXT*/
.cont_text {
  font-weight: bold;
}

/*----------SERVİCES-----------*/

.services {
  flex-basis: 100%;
}

.services ul li {
  list-style-type: none;
  line-height: 1.7;
}

.services a {
  color: #181a2a;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

/*----------SERVİCES-----------*/

/*---------SUBSCRİBE------------*/
.subscribe {
  max-height: 200px;
  margin-right: 20px;
  flex-basis: 75%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.subscribe input {
  width: 70%;
  border: 1px solid #dcdddf;
  border-radius: 6px;
  padding: 12px 20px;
  background: white;
}

.subscribe button {
  margin: 10px;
  padding: 4% 4%;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  width: 45%;
  background: #4b6bfb;
}

.subscribe h3 {
  margin: 5%;
}

.subscribe div {
  margin: 10px 0;
  color: #696a75;
}

/*---------SUBSCRİBE------------*/

/*---------COPYRİGHT------------*/

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #696a75;
}

.copy {
  margin-left: 20px;
}

.links a {
  margin: 0 20px 0 0;
  color: #141624;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: inline;
}

#ToS,
#PP {
  border-right: 1px solid #696a75;
  padding-right: 20px;
}

/*---------COPYRİGHT------------*/

/*----------------------------------FOOTER---------------------------------*/

/*----------------------------------POST PAGE-----------------------------**/

.text_container {
  margin: 10px 0;
  width: 86%;
}

.text_container ul {
  list-style: none;
}

.text_container ul li {
  display: inline-block;
  font-size: small;
}

.text_container ul span {
  color: #696a75;
  font-size: smaller;
}

.text_container ul li a {
  text-decoration: none;
  color: black;
}

.text_container ul li a:hover {
  text-decoration: underline;
}

.main,
.main:hover {
  height: 25px;
}

.content {
  margin-bottom: 20px;
  width: 86%;
  display: flex;
  justify-content: space-between;
}

.main_side {
  width: 70%;
}
.aside {
  height: 670px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  width: 27%;
}

.content .main_side .post .author_container img {
  width: 3%;
}

.content .main_side .post .author_container a {
  color: #696a75;
  font-size: smaller;
}

.post {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_title h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.post .figure img {
  width: 100%;
}

p,
pre {
  font-size: 20px;
  text-indent: 20px;
  color: #44454e;
  word-spacing: 10px;
  font-family: Source Serif Pro;
}
.post h3 {
  font-size: 20px;
}

.aside .column {
  height: 610px;
  margin: 5px;
}

.aside .column h3 {
  margin: 20px 5px;
}

.aside .column .item {
  padding: 5px;
  display: flex;
  align-items: center;
}

.aside .column .item img {
  border-radius: 10px;
  width: 120px;
}
.aside .column .item .title {
  margin: 10px;
}
p a {
  color: #141624;
}

.content .main_side .post ol li a {
  color: #141624;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.aside .column .item .title .title_detail {
  font-weight: bold;
}

.ek_gorsel {
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
}
/*-------------------------------POST PAGE-----------------------------*/

/*-----------------------------CONTACT US-------------------------------*/





/*-----------------------------CONTACT US-------------------------------*/

/*----------------------------------@media---------------------------------*/

@media only screen and (max-width: 764px) {
  .navbar ul li {
    display: block;
  }

.logo{
  width: 97px;
}

  .footer_container {
    flex-direction: column;
  }

  .services {
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .subscribe {
    padding: 5px 5%;
    margin: auto;
  }

  .links a {
    margin-right: 20px;
    padding: 2px;
  }

  .copyright {
    display: block;
    text-align: center;
  }

  .links {
    padding-top: 5px;
    align-items: center;
    justify-content: space-around;
  }

  #ToS,
  #PP {
    border-right: 1px solid #696a75;
    padding-right: 20px;
  }

  .card {
    height: 265px;
  }

  .cards_container .cards {
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
  }

  .card .title_container .title a{
    font-size: 2rem;
  }

  .card .title_container .title a:hover{
    font-size: 2.05rem;
  }

  .card .title_container .author_container a:hover{
    font-size: 16px;
  }

  .cards_container .cards .detail_container {
    width: 90%;
    margin-bottom: 20px;
  }
  .text_container ul li {
    font-size: 13px;
  }
  .content .main_side .post .author_container img {
    width: 6%;
  }
  .content {
    flex-direction: column;
    align-content: center;
  }
  .main_side {
    width: 100%;
  }
  .aside {
    height: 645px;
    width: 100%;
  }
  .ek_gorsel{
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and ((max-width: 1100px) and (min-width:765px)) {
  .cards_container .cards {
    flex-wrap: wrap;
  }

  .cards_container .cards .detail_container {
    width: 49%;
    margin-bottom: 20px;
  }

  .editor_container .cards_container .cards .card3 {
    height: 295px;
    width: 100%;
  }

  .editor_container .cards .detail_container .column .item {
    height: 80px;
  }

  .card {
    height: 450px;
  }
  .content .main_side .post .author_container img {
    width: 4%;
  }

  .content {
    flex-direction: column;
    align-content: center;
  }
  .main_side {
    width: 100%;
  }
  .aside {
    height: 620px;
    width: 100%;
  }

  .ek_gorsel{
    width: 100%;
    margin-left: 0;
  }
}

/*----------------------------------@media---------------------------------*/
