* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/*------------------------------------NAVBAR------------------------------------*/

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar {
    width: 85%;
    margin: 0 4% 15px 6%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #696A75;
}

.navbar a {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #181A2A;
    text-transform: uppercase;
    position: relative;
}

ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

/*------SEARCH----------*/

.search_container:hover {
    min-width: 100px;
    align-items: center;
    height: 17px;
    display: flex;
    background: white;
    width: 15%;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.8s;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    margin-right: 5px;
}

.search_container {
    justify-content: space-between;
    width: 100px;
    align-items: center;
    display: flex;
}

.search_container:hover input {
    width: 100%;
    cursor: pointer;
}

.search_container input {
    background: transparent;
    border: none;
    outline: none;
    transition: 0.8s;
    width: 0;
}

.material-symbols-outlined {
    cursor: pointer;
}

/*------SEARCH----------*/

/*----------------------------------NAVBAR---------------------------------*/






/*----------------------------------FOOTER---------------------------------*/
.about h3,.services h3{
    padding-bottom: 10px;
}
footer {
    width: 100%;
    background: #E8E8EA;
    position: relative;
    left: 0;
    bottom: 0;
    color: #181A2A;
    flex-direction: column;
    display: block;
}

.footer_container {
    padding: 20px;
    display: flex;
    text-align: center;
}

.services {
    flex-grow: 1;
    flex-basis: 100%;
}

.about {
    flex-grow: 1;
    flex-basis: 80%;
}

.about li {
    display: block;
    margin: 5px 0;
    list-style-type: none;
    line-height: 1.2;
}

/*---------SUBSCRİBE------------*/
.subscribe {
    margin-right: 20px;
    flex-grow: 1;
    flex-basis: 60%;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.subscribe input{
    width: 68%;
    border: 1px solid #DCDDDF;
    border-radius: 6px;
    padding: 12px 20px;
    background: white;
    
}

.subscribe button {
    margin: 10px;
    padding: 12px 0;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    width: 80%;
    background: #4B6BFB;
}

.subscribe h3{
    color: #141624;
    margin: 5%;
}

.subscribe div{
    margin: 10px 0;
}

/*---------SUBSCRİBE------------*/
p {
    text-indent: 1%;
    color: #696A75;
}

.services ul li {
    list-style-type: none;
    line-height: 1.7;
}

.services a {
    color: #181A2A;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #696A75;
}

.copy{
    margin-left: 20px;
}

.links a {
    margin: 0 20px 0 0;
    color: #141624;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    display: inline;
}

.cont_text {
    font-weight: bold;
}


/*----------------------------------FOOTER---------------------------------*/

@media only screen and (max-width: 764px) {
    .footer_container {
        position: relative;
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }

    .navbar ul li {
        display: block;
    }

    .services{
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .subscribe {
        padding: 5px 5%;
        width: 50%;
        margin: auto;
    }
    .subscribe button{
        width: 82%;
    }
}